################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs/DesignPatterns
/DesignPatterns/*/bin
/DesignPatterns/*/obj
/DesignPatterns/.cr
/DesignPatterns/.vs/ProjectEvaluation/
/DesignPatterns/Strategy/obj/
/DesignPatterns/TemplateMethod/bin/
/DesignPatterns/Visitor/bin/Debug/
/DesignPatterns/UpgradeLog.htm
/DesignPatterns/UpgradeLog2.htm
/DesignPatterns/Singleton/obj/Debug/
/DesignPatterns/Singleton/bin/Debug/
DesignPatterns/Bridge/obj/
DesignPatterns/Bridge/bin/
DesignPatterns/Bridge/bin/
DesignPatterns/Bridge/obj/
DesignPatterns/Bridge/Bridge.csproj.user
DesignPatterns/Builder/bin/
DesignPatterns/Builder/obj/
DesignPatterns/ChainOfResp/bin/
DesignPatterns/ChainOfResp/obj/
DesignPatterns/*/bin/
DesignPatterns/*/obj/
