################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs/DesignPatterns
/DesignPatterns/AdapterPattern/bin/Debug/net9.0
/DesignPatterns/Decorator/obj
/DesignPatterns/Singleton/obj
